.plist__headings {
  display: flex;
  flex-direction: row;
}
.plist__headings > p {
  margin: 10px 10px;
  width: 10rem;
}

.plist__data {
  display: flex;
  flex-direction: row;
}

.plist__data > p {
  margin: 10px 10px;
  width: 10rem;
}

.plist {
  margin-top: 2px;
}

.plist__top {
  background-color: chartreuse !important;
  margin-top: 2px;
}

.plist__bottom {
  margin-top: 2px;
}
.plist__headings {
  background-color: chartreuse;
}
